/vendor
/.gitattributes
/.editorconfig

/private/*
!/private/.gitignore


# Ignore database files
*.sql
*.sql.gz

/web/sites/*/*settings*.php
!/web/sites/*/example.settings.local.php
/web/sites/*/*services*.yml
!/web/sites/*/settings.php
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php

# Ignore files
/web/sites/*/files
/web/sites/*/private
.idea/
*.docksal
/web/core/

/web/install.php
/web/INSTALL.txt
/web/example.gitignore
/web/autoload.php
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess

/web/modules/contrib
/web/profiles/contrib
/web/themes/contrib
/web/libraries
