/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
.feedbacks__inner-titles {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.feedbacks__item {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
